.backgroundPoster {
  position: "relative"!important;
  top: "20px"!important;
  height: "75px"!important;
  width: "75px"!important;
  background-color: "#3f51b5"!important;
  border-radius: "50%"!important;
  display: "inline-block"!important;
}
